/* Global Styling */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9f9f9;
  text-align: justify;
}

/* Styling untuk Header */
header {
  background-color: #3fbac2;
  color: #393939;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  padding: 10px;
}

header h1 {
  margin: 0;
  font-weight: bold;
}

/* Main Styling */
main {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h1 {
  color: #000000;
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
}

main p, main ul {
  margin-bottom: 15px;
}

main ul {
  padding-left: 20px;
}

main ul li {
  margin-bottom: 5px;
  padding-left: 10px;
  position: relative;
}

main ul li::before {
  content: "•";
  color: #000000;
  position: absolute;
  left: 0;
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3FBAC2; 
  color: #393939;
  padding: 18px 20px;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer nav ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li a {
  text-decoration: none;
  color: #393939;
  font-weight: bold;
}

footer nav ul li a:hover {
  color: #0056b3;
}

/* Logo Styling */
.logo img{
    width: 50px;
} .logo-footer {
    width: 24px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  header, footer {
    text-align: center;
  }

  footer .footer-content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  footer nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  main {
    margin: 15px;
    padding: 15px;
  }

  header, footer {
    padding: 15px;
  }

  footer .footer-content {
    text-align: center;
    gap: 15px;
  }

  footer nav ul li {
    margin-bottom: 5px;
  }

  .logo img, .logo-footer {
    width: 40px;
  }
}

@media (max-width: 480px) {
  main {
    margin: 15px;
    padding: 15px;
  }

  footer {
    padding: 15px;
  }

  footer .footer-content {
    gap: 15px;
  }

  footer nav ul {
    gap: 15px;
  }

  footer nav ul li a {
    font-size: 14px;
  }

  .logo img, .logo-footer {
    width: 24px;
  }
}